In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('ИсходникМатрицы.xlsx')

In [3]:
df.head()

,Орг\Тех,Ka-Sat,Дискавери (шаттл),United Launch Alliance,GSAT-19,ASM-135 ASAT,GSAT-17,Everts Air,SwissCube,Mitsubishi A6M Zero,...,Амос-6,Международная космическая станция,Вега (ракета-носитель),OneWeb,United Airlines,Inmarsat-5 F4,Lufthansa,GGS WIND,Артемида (космическая программа),Qatar Airways
0,SpaceX,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,3.0,2.0,1.0,1.0,NaN,NaN,1.0
1,Jet Propulsion Laboratory,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
2,Armstrong Flight Research Center,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,Federal Aviation Administration,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
4,Leonardo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Орг\Тех', 'Ka-Sat', 'Дискавери (шаттл)', 'United Launch Alliance',
       'GSAT-19', 'ASM-135 ASAT', 'GSAT-17', 'Everts Air', 'SwissCube',
       'Mitsubishi A6M Zero', 'Starlink', 'Jason-3',
       'Аполлон (космическая программа)', 'Dragonfly (космический аппарат)',
       'Планк (космическая обсерватория)', 'Virgin Galactic', 'InSight',
       'Амос-6', 'Международная космическая станция', 'Вега (ракета-носитель)',
       'OneWeb', 'United Airlines', 'Inmarsat-5 F4', 'Lufthansa', 'GGS WIND',
       'Артемида (космическая программа)', 'Qatar Airways'],
      dtype='object')

In [5]:
p = df.columns[1:]

In [6]:
s = 'satellite'
j = 'Joint venture'
m = 'missile'
a = 'airline'
f = 'fighter aircraft'
s2 = 'spacecraft'
c = 'spaceflight company'
s3 = 'space station'
s4 = 'space program'

In [7]:
t = [s, s2, j, s, m, s, a, s, f, s, s, s4, s2, s3, c, s2, s, s3, m, s, a, s, a, s, s4, a]

In [8]:
d = {'programms': p, 'type': t}

In [9]:
t_p = pd.DataFrame(d)

In [10]:
t_p.sort_values('type', inplace=True)

In [11]:
t_p.reset_index(drop=True, inplace=True)

In [12]:
t_p

                            programms                 type
0              United Launch Alliance        Joint venture
1                       Qatar Airways              airline
2                           Lufthansa              airline
3                          Everts Air              airline
4                     United Airlines              airline
5                 Mitsubishi A6M Zero     fighter aircraft
6                        ASM-135 ASAT              missile
7              Вега (ракета-носитель)              missile
8                            GGS WIND            satellite
9                       Inmarsat-5 F4            satellite
10                             OneWeb            satellite
11                             Амос-6            satellite
12                             Ka-Sat            satellite
13                            Jason-3            satellite
14                           Starlink            satellite
15                          SwissCube            satellite
16                            GSAT-17            satellite
17                            GSAT-19            satellite
18    Аполлон (космическая программа)        space program
19   Артемида (космическая программа)        space program
20   Планк (космическая обсерватория)        space station
21  Международная космическая станция        space station
22                            InSight           spacecraft
23                  Дискавери (шаттл)           spacecraft
24    Dragonfly (космический аппарат)           spacecraft
25                    Virgin Galactic  spaceflight company

In [13]:
t_p.at[18,'programms'] = 'Аполлон'

In [14]:
t_p.at[19,'programms'] = 'Артемида'

In [15]:
t_p.at[20,'programms'] = 'Планк'

In [16]:
t_p.at[21,'programms'] = 'МКС'

In [17]:
t_p.at[24,'programms'] = 'Dragonfly'

In [18]:
companies = df['Орг\Тех']

In [19]:
u = 'USA'
i = 'Italy'
f = 'France'
ii = 'India'
r = 'Russia'
uk = 'UK'
s = 'Switzerland'
j = 'Japan'

In [20]:
countries = [u, u, u, u, i, u, f, i, u, u, u, ii, r, u, u, uk, u, u, u, uk, f, s, u, u, j]

In [21]:
len(countries)

25

In [22]:
d = {'company': companies, 'country': countries}

In [23]:
c_c = pd.DataFrame(d).sort_values('country').reset_index(drop=True)

In [24]:
c_c

                                              company      country
0                                 Guiana Space Center       France
1                           European Space Agency ESA       France
2                               Space Research Center        India
3    Italian Space Agency (Agenzia Spaziale Italiana)        Italy
4                                            Leonardo        Italy
5                  Japan Aerospace Exploration Agency        Japan
6                                           Roscosmos       Russia
7                                          ClearSpace  Switzerland
8                                     UK space agency           UK
9                                         Meggitt PLC           UK
10                                    Virgin Galactic          USA
11                          Jet Propulsion Laboratory          USA
12                       Marshall Space Flight Center          USA
13                             United Launch Alliance          USA
14                                        Blue Origin          USA
15                    Federal Aviation Administration          USA
16                                         SpaceNews           USA
17                               Kennedy Space Center          USA
18                                         Rocket Lab          USA
19                   Armstrong Flight Research Center          USA
20                                             Safran          USA
21                                           Starlink          USA
22                                      Naked Science          USA
23  US National Aeronautics and Space Administrati...          USA
24                                             SpaceX          USA

In [25]:
c_c.at[3,'company'] = 'Italian Space Agency'

In [26]:
c_c.at[23,'company'] = 'NASA'

In [27]:
l_p = list(p)

In [28]:
l_c = list(companies)

In [29]:
edges = pd.melt(df, id_vars=['Орг\Тех'], value_vars=l_p)

In [30]:
edges = edges[edges['value']>0].sort_values('Орг\Тех').reset_index(drop=True)

In [31]:
edges.rename(columns = {'Орг\Тех':'company', 'variable':'programms'}, inplace = True)

In [32]:
edges[edges.company == 'Italian Space Agency (Agenzia Spaziale Italiana)']

,company,programms,value
22,Italian Space Agency (Agenzia Spaziale Italiana),Вега (ракета-носитель),1.0

In [33]:
edges.iloc[22]

company      Italian Space Agency (Agenzia Spaziale Italiana)
programms                              Вега (ракета-носитель)
value                                                     1.0
Name: 22, dtype: object

In [34]:
edges.at[22,'company']='Italian Space Agency'

In [35]:
edges[edges.company == 'US National Aeronautics and Space Administration (NASA)']

,company,programms,value
78,US National Aeronautics and Space Administrati...,Артемида (космическая программа),1.0
79,US National Aeronautics and Space Administrati...,Дискавери (шаттл),1.0
80,US National Aeronautics and Space Administrati...,GGS WIND,1.0
81,US National Aeronautics and Space Administrati...,United Launch Alliance,2.0
82,US National Aeronautics and Space Administrati...,Международная космическая станция,3.0
83,US National Aeronautics and Space Administrati...,InSight,1.0
84,US National Aeronautics and Space Administrati...,ASM-135 ASAT,1.0
85,US National Aeronautics and Space Administrati...,Virgin Galactic,1.0
86,US National Aeronautics and Space Administrati...,Everts Air,1.0
87,US National Aeronautics and Space Administrati...,Mitsubishi A6M Zero,1.0
88,US National Aeronautics and Space Administrati...,OneWeb,2.0
89,US National Aeronautics and Space Administrati...,United Airlines,8.0
90,US National Aeronautics and Space Administrati...,Вега (ракета-носитель),1.0
91,US National Aeronautics and Space Administrati...,Аполлон (космическая программа),1.0
92,US National Aeronautics and Space Administrati...,Dragonfly (космический аппарат),1.0
93,US National Aeronautics and Space Administrati...,Планк (космическая обсерватория),1.0
94,US National Aeronautics and Space Administrati...,Jason-3,1.0

In [36]:
for i in range(78,95):
    edges.at[i,'company']='NASA'

In [37]:
edges.to_csv('edgelist.csv', index=False)

In [38]:
c_c.to_csv('nodelist.csv', index=False)

In [39]:
t_p.to_csv('edge-node.csv', index=False)